
body{
  background-color:grey;
  font-family:calibri;
}

#main{
  width:100%;
  display:block;
  padding-top:20px;
  padding-bottom:20px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  background-color:white;
}

h1{
  text-align:center;
}
#img-div{
  width:90%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  background-color:#d4cece;
  padding-bottom:20px;
}
#image{
  padding-top:20px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:20%;
  height:auto;
  max-width:600px;
}

#tribute-info{
  margin-left: auto;
  margin-right: auto;
  width:40%;
  font-size:120%;
}